player-connection-mode=Listen
player-connection-guid=1672321849
player-connection-debug=0
player-connection-project-name=FUNTOM
player-connection-ip=10.31.220.81
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f93252ef6afc437985ae06b90849a808
